.card-body {
  display: block;
  max-height: 70vh; /* Adjust based on your design */
}

.links-container .list-group-item {
  background-color: transparent;
  flex: 0.5 0 21%; /* Adjust the flex-basis to control the width of columns */
  margin: 0.5%;
}

.icon {
  width: 140px; /* Adjust based on actual icon size */
  height: 140px; /* Adjust based on actual icon size */
  background-image: url('../../../assets/sprites/links/ex1.png'); /* Path to your sprite sheet */
  background-repeat: no-repeat;
  background-size: 499px 493px; /* Adjust based on sprite sheet size */
  transform: scale(0.5); /* Scale down the icon */
}

.spline { background-position: -8px 12px; }
.blender { background-position: -128px 12px; }
.tiled { background-position: -249px 12px; }
.phaser { background-position: -374px 12px; }
.mixamo { background-position: 4px -128px; }
.webgpu { background-position: -128px -128px; }
.webgl { background-position: -247px -128px; }
.cannon { background-position: -384px -128px; }
.angular { background-position: 4px -247px; }
.angular-v17 { background-position: -128px -247px; }
.threejs { background-position: -247px -249px; }
.character-model { background-position: -384px -247px; }
.awarded-apps { background-position: 4px -384px; }
.slot-machine { background-position: -128px -384px; }
.chatgpt { background-position: -247px -384px; }
.blokadelabs { background-position: -384px -384px; }
