<app-background-sky [fullHeight]="false" [textureId]="1"> <!-- or false based on your condition -->
  <button (click)="scrollLeft()" class="nav-button left-button">&lt;</button>
  <div class="content-wrapper" #contentWrapper>
    <div class="links-row d-flex">
      <div *ngFor="let linkCategory of links">
        <span class="text-center">
          {{linkCategory['category']}}
        </span>
        <div *ngFor="let link of linkCategory.items" class="link-item d-flex align-items-center"
             (click)="navigate(link.url)">
          <div class="icon me-1" [ngClass]="link.className"></div>
          <div>
            {{ link.name }}
            <small class="d-block">{{ link.description }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="scrollRight()" class="nav-button right-button">&gt;</button>
</app-background-sky>
