.logo {
  width: 256px;
  height: 256px;
}
.content{
  width: 700px!important;
  transition: transform 0.3s; /* For smooth transformations */
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre;
  color: var(--green-color-5);
}
h1 h2 h3 {
  color: var(--green-color-5);
}


/* Ensure the main container does not exceed the viewport width */
.max-wrapper {
  max-width: 700px; /* Ensures the container does not exceed the viewport width */
  overflow-x: hidden; /* Prevent horizontal overflow */

}

:host {
  top: 50px
}

