.logo {
  width: 256px;
  height: 256px;
}

.card {
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.card-header,
.content-section {
  padding: 20px;
}

.card-header h2,
.content-section h2 {
  margin-top: 0;
}

.card-body {
  padding: 20px;
}

.logo {
  width: 100px; /* Adjust the width of your logo */
  height: 100px; /* Adjust the height of your logo */
  margin: 0 auto; /* Center the logo horizontally */
  border-radius: 50%; /* Make the logo circular */
}

.content-section p {
  margin-bottom: 15px;
}

.content-section ul {
  padding-left: 20px;
}

.content-section ul li {
  list-style-type: disc;
  margin-bottom: 5px;
}

a {
  color: #007bff; /* Add your desired link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
