/* Maintain other styles as they are */
#container.full-height {
  width: 100%;
  height: 100%;
}

#container.show-navbar {
  width: 100%;
  height: calc(100% - 50px); /* Adjust the height as per your navbar height */
}

:host {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.container {
  text-align: center;
  margin-top: 50px;
}
