<div class="card d-flex align-items-center justify-content-evenly">
  <div class="card-header">
    <h1> ChatGpt4o for Graphic Creation
    </h1>
  </div>
  <div class="card-body d-flex">
    <div id="carouselExampleControls text-center" class="carousel slide" data-bs-ride="carousel">
      <h2> Sprites By ChatGpt4o</h2>
      <div class="carousel-inner">
        <div *ngFor="let sprite of sprites; let i = index" class="carousel-item" [class.active]="i === currentSlide">
          <img [src]="sprite" class="d-block w-100" alt="Sprite Image">
        </div>
      </div>
      <div class="carousel-control-prev" href="#carouselExampleControls" role="button" (click)="previous('sprite');">
        <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
      </div>
      <div class="carousel-control-next" href="#carouselExampleControls" role="button" (click)="next('sprite');">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </div>
    </div>
    <div id="carouselLogoExampleControls text-center" class="carousel slide" data-bs-ride="carousel">
      <h2> Logos from ChatGpt4o</h2>
      <div class="carousel-inner">
        <div *ngFor="let logo of logos; let i = index" class="carousel-item" [class.active]="i === currentLogoSlide">
          <img [src]="logo" class="d-block w-100" alt="Sprite Image">
        </div>
      </div>
      <div class="carousel-control-prev" href="#carouselExampleControls" role="button" (click)="previous('logo');">
        <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
      </div>
      <div class="carousel-control-next" href="#carouselExampleControls" role="button" (click)="next('logo');">
        <span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>
